# -*- coding: utf-8 -*-
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head></head>
	<body>
		<form method="POST" action="/plants/add" enctype="multipart/form-data">
		  <fieldset>
		    <ol>
		      <li>
			<label>name:</label><input name='name' />
		      </li>
		      <li>
			<label>Common name:</label><input name='common_name' />
		      </li>
		      <li>
			<label>Wiki:</label><input name='wiki' />
		      </li>
		      <li>
			<label>photo:</label><input type='file' name='photo' />
		      </li>
		      <li>
			<input type='submit' value='Submit'/>
		      </li>
		    </ol>
		  </fieldset>
		</form>
	</body>
</html>
